In [12]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [13]:
df = pd.read_csv(r'/home/user/neha/salaryaprediction.csv')

In [14]:
df

   experience  test_score  interview_score  salary
0         NaN           8                9   50000
1         NaN           8                6   45000
2         5.0           6                7   60000
3         2.0          10               10   65000
4         7.0           9                6   62000
5        10.0           7               10   72000
6        11.0           7                7   80000

In [15]:
df.experience.median()

7.0

In [6]:
df.experience.fillna(df.experience.median())

0     7.0
1     7.0
2     5.0
3     2.0
4     7.0
5    10.0
6    11.0
Name: experience, dtype: float64

In [16]:
df.experience = df.experience.fillna(df.experience.median())

In [17]:
df

   experience  test_score  interview_score  salary
0         7.0           8                9   50000
1         7.0           8                6   45000
2         5.0           6                7   60000
3         2.0          10               10   65000
4         7.0           9                6   62000
5        10.0           7               10   72000
6        11.0           7                7   80000

In [19]:
df.shape

(7, 4)

In [20]:
reg = linear_model.LinearRegression()

In [21]:
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
reg.coef_

array([1961.81748759,   83.61970218, 2308.51470027])

In [24]:
reg.intercept_

29471.935853379167

In [27]:
reg.predict([[14,9,8]])

array([76158.07560137])